/* Modelo de caja universal */
* {
    box-sizing: border-box;
}
/* Altura completa del documento*/
html, body {
    height: 100%;
}

/*
Configuración general:
-Quitamos los márgenes por defecto
-Elegimos tipografía y base
-Definimos color de texto y fondo*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    background: #f0f0f0;
    display: flex;      /* Contenedor flexible */
    flex-direction: column;     /* Disposición vertical de los 3 elementos */
    min-height: 100vh;      /* Altura total del viewport */
}

/* Cabecera con FLEX*/
.cabecera {
    text-align: center;
    padding: 1rem;      /* 1 rem = 16 px */
    display: flex;
    justify-content:space-between;      /* Separa brand y menú */
    align-items: center;            /* Centrar verticalmente*/
    background: #2c3e50;
}

/* Tamaño del logo */
.logo {
    height: 100px;
    width: auto;
}

/*  Menú con FLEX */
.menu {
    list-style: none;   /* Eliminamos las viñetas */
    display: flex;      /* Colocamos en línea los enlaces */
    gap: 1rem;
    margin: 0;
    padding: 0;
}

/* Estilos básicos de los enlaces del menú */
.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Efecto hover para los enlaces (pseudoclase) */
.menu a:hover {
    color: #e74c3c;
}

/* Título de la cabecera sin márgenes extra y color destacado */
/*.titulo {
    margin: 0;
    color: #2C3E50;
}*/

/* Zona principal (main)
    padding -> espacio interior o relleno
*/
#contenido-principal {
    padding: 1rem;
    flex-grow: 1;           /* Esto empuja el footer hacia abajo */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Clase "tarjeta": usada para guarda secciones visualmente
    -color blanco
    -border sutil y redondeado
    -sombra ligera
    -ancho máxima controlado
*/
.tarjeta {
    background: #fff;
    border-radius: 12px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* Texto secundario */
.aviso {
    color:#7F8C8D;
}

/* Listas en dos columnas flexibles (FLEX)*/
.listas {
    display: flex;  /* Convierto al elemento como contenedor flexible */
    flex-direction: row;
    gap: 2rem;
}

/* Ajustes visuales de las listas */
.lista {
    padding-left: 20px;     /* Espacio para las viñetas o número*/
}

.lista li {
    margin: 0.5rem 0;       /* Añado espacio vertical entre los elementos de la lista */
}

/* Estiramos las tablas */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Border y rellelno a las celdas */
.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
}

.tabla th {
    background: #2C3E50;
    color: #fff;
    text-align: center;
}

.tabla td {
    text-align: center;
    white-space: nowrap;        /* Evita saltos de línea en celdas */
}

/* Estilo del pie de página:
    - color gris suave
    - tamaño de letra menor
    - fondo ligeramente gris
*/

/* ======= FORMULARIO DE REGISTRO =======*/
.form-registro{
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    padding: 1rem;
    width: 400px ; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: firebrick;
    margin: 0 auto;
}

.form-row{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 1rem;
}

.form-row label{
    font-weight: bold;
}

.form-row button {
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.form-row button:hover {
    background-color: darkred;
}


.form-contacto {
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    padding: 1rem;
    width: 380px ; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: firebrick;
    margin: 0 auto;
}

.form-row input {
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.form-row input:hover {
    background-color: darkred;
}

.pie {
    text-align: center;
    padding: 1rem;
    color: #7f8c8d;
    background: #38707e;
    font-size: 14px;
}

/* ==========================
    SECCION TIENDA
   ==========================
*/

.tarjeta.tienda {
    width: min(1200px,95%);
}

/* Contenedor de las cards */
.lista-cards--flex {
    display: flex;              /*Activa el modelo flex*/
    flex-wrap: wrap;            /* Permite que las cards salten de línea su ni caben*/
    gap: 16px;                  /* Espacio uniforme entre las cards*/
    justify-content: center;    /*Centra horizontalmente todas las cards*/
}

/* Card individual */
.card {
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

/* Imagen dentro de la card */
.card-imagen {              /* Ocupa todo el ancho disponible dentro de la card */
    width: 100%;            /* Altura fija para todas las imágenes */
    height: 180px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
    object-fit: contain;
}

.card-titulo {
    color: #333;
    font-size: 1.1rem;
    margin: 8px 0 4px;
}

.card-descripcion {
    font-size: 0.9rem;
    color: #666;
    min-height: 8px 0;
}

.card-precio {
    color: #b60000;
    font-weight: bold;
    margin: 8px 0;
}

.card-boton {
    display: inline-block;
    padding: 10px 16px;
    background-color: #2C3E50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

/* display: inline-block;
    Por defecto, los enlaces <a> son elementos en linea y no aceptan padding vertical real ni border radius bien definidos.
    Con inline-block permito que se comporten como un boton real con padding, bordes redondeados y ancho ajustado al texto. */



/* ==========================
    PRÁCTICA TIENDA
   ==========================
*/


.contenedor-grid > :nth-child(1) {background-color: aquamarine;}
.contenedor-grid > :nth-child(2) {background-color: #e74c3c;}
.contenedor-grid > :nth-child(3) {background-color: greenyellow;}
.contenedor-grid > :nth-child(4) {background-color: purple;}
.contenedor-grid > :nth-child(5) {background-color: goldenrod;}
.contenedor-grid > :nth-child(6) {background-color: blue;}

.contenedor-grid {
    display: grid;          /* Activamos grid */
    /*grid-template-columns: 200px 200px 200px; */
    /*grid-template-columns: repeat(3, 150px);        /* 3 columnas exactas */
   /*grid-template-rows: 100px 100px;*/                /* 2 filas exactas */
    /*gap: 5px 25px;*/                                      /* espacio uniforme entre filas y columnas */
    /*justify-content: center;*/
    background-color: #eaeaea;
    padding: 10px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 75px 125px;
    min-height: 300px;
    gap: 20px;

    /* Alineación de los elementos de cada celda */
    justify-items: stretch;
    align-items: stretch;
    /* Atajo: place-items = aling-items + justify-items */
    /*place-items: start center;*/

    /* Alineación de la cuadrícula respecto del contenerdor grid */
    /*justify-content:center ;
    align-content: center;*/
    place-content: center;
}

.item-grid {
    color: #000;
    font-weight: bold;
    border: 2px solid #60a3bc;
    font-size: 1.2rem;
}

.item-1 {
    /* Alineación del elemento dentro de su celda */
    /*justify-self: center;
    align-self: center;*/
    place-self: center;
    order: 1;
}

.item-3 {
    order: -4;
}

.lista-cards--grid {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    /*
    - minmax(280px, 1fr):display:
        Cada card mide como mínimo 280px de ancho,
        pero puede crecer hasta ocupar una fracción del espacio (1fr).
    - auto-fill:;
        Intenta "rellenar" la fila con tantas columnas como quepan.
        Si sobran huecos, los reserva (aunque queden vacíos).
    -auto-fill vs auto-fit:
        auto-fill: intenta llenar filas con columnas, incluso reservando huecos.
        auto-fit: colapsa huecos y deja que las cards se ensanchen. */
    gap: 16px;
}

/* GRID POR AREAS */
.contenedor-areas {
    display: grid;
    min-height: 400px;
    grid-template-columns: 1px 4fr 2fr;
    grid-template-rows: 80px 1fr 60px;
    gap: 16px;

    grid-template-areas: 
        "cabecera    cabecera    cabecera"
        "menu        principal   ads"
        "pie         pie         pie";
}

.area-header {
    grid-area: cabecera;
    background-color: #e74c3c;
}

.area-menu {
    grid-area: menu;
    background-color: greenyellow;
}

.area-main {
    grid-area: principal;
    background-color: aquamarine;
}

.area-aside {
    grid-area: ads;
    background-color: plum;
}

.area-footer {
    grid-area: pie;
    background-color: burlywood;
}