
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cabecera {
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 300px;
    height: 110px;
}